<!DOCTYPE html>
<html lang="en" ng-app="form">
<head>
    <meta charset="UTF-8">
    <title>Zadanie Testowe</title>

    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/main.css">
</head>
<body>

<main>
    <div ng-controller="formController">
        <div id="table">
            <div id="topTable">
                <div class="topTableRowName">Name</div>
                <div class="topTableRowEmail">Email</div>
                <div class="topTableRowButton">Actions</div>
            </div>
            <div class="table" ng-repeat="user in userData">
                <div class="singleRowName">{{user.name}}</div>
                <div class="singleRowEmail">{{user.email}}</div>
                <div class="singleRowButton"><button ng-click="showEdit = !showEdit">Edit</button><button ng-click="deleteData(user)">Remove</button></div>
                <div ng-hide="showEdit">
                    <span>
                        Create new
                    </span>
                    <form>
                        <lable>
                            Name
                            <input type="text" name="name" placeholder="{{user.name}}" ng-model="newUserName">
                        </lable>
                        <lable>
                            Email
                            <input type="email" name="email" placeholder="{{user.email}}" ng-model="newUserEmail">
                        </lable>
                        <button ng-click="editData()">Save</button><button>Cancel</button>
                    </form>
                </div>
            </div>
        </div>
        <button ng-click="showNew = !showNew">Create new</button>
        <div ng-hide="showNew">
            <span>
                Create new
            </span>
            <form>
                <lable>
                    Name
                    <input type="text" name="name" ng-model="userDataName">
                </lable>
                <lable>
                    Email
                    <input type="email" name="email" ng-model="userDataEmail">
                </lable>
                <button ng-click="addData()">Save</button><button>Cancel</button>
            </form>

        </div>
    </div>
</main>

<script type="text/javascript" src="script/angular.min.js"></script>
<script type="text/javascript" src="script/app.js"></script>
</body>
</html>