/* Settings for options in table */

.singleRowButton {
    width: 5vw;
    padding: 1vh 1vw;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url('../images/settings.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;

    cursor: pointer;
}

.buttonmenu {
    display: none;
    position: absolute;
    top: 1vh;
    left: 5vw;
    z-index: 1;
    border: 3px solid black;
}

.MenuSingleButton {
    background-color: white;
    border: none;
    cursor: pointer;
}

.MenuSingleButton:hover {
    background-color: lightgray;
}

.singleRowButton:hover > .buttonmenu {
    display: flex;
    flex-flow: column;
    width: 5vw;
    text-align: center;
}

/* Setting for creating new user */

.CreateNewButton {
    margin: 2vh 0;

    background-color: white;
    color: black;
    border: 3px solid black;
    box-shadow: 5px 5px 0 black;

    cursor: pointer;
}

.CreateNewButton:hover{
    background-color: lightgray;
}