main {
    display: flex;
    width: 100vw;

    font-family: "Courier New", "Lucida Console";
}

button {
    font-family: "Courier New", "Lucida Console";
}

main > div {
    padding-top: 10vh;
    margin: 0 auto;
}

input {
    width: 100%;
    border: 3px solid black
}
